<div class="row clearfix">
    <div class="col-md-8">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">添加学生</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">


                    <div class="form-group">
                        <label>学号:</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-database"></i>
                            </div>
                            <input ng-model="studentNumber" type="text" class="form-control pull-right"
                                   id="studentID">
                        </div>
                        <!-- /.input group -->
                    </div>


                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="addStudent()">确定</button>
                        <button type="submit" class="btn btn-primary" ui-sref="index.class">取消</button>

                    </div>
                    <!--</form>-->
                </div>
                <!-- /.box -->
            </form>

                <!-- Input addon -->
                <!-- /.box -->


</div>

<!--<div class="form-group">-->
<!--<label>学生姓名:</label>-->

<!--<div class="input-group ">-->
<!--<div class="input-group-addon">-->
<!--<i class="fa fa-book" aria-hidden="true"></i></div>-->
<!--<input ng-model="student.name" type="text" class="form-control pull-right"-->
<!--id="name">-->
<!--</div>-->
<!--&lt;!&ndash; /.input group &ndash;&gt;-->
<!--</div>-->


<!--<div class="form-group">-->
<!--<label>添加时间:</label>-->

<!--<div class="input-group date">-->
<!--<div class="input-group-addon">-->
<!--<i class="fa fa-calendar"></i>-->
<!--</div>-->
<!--<input  type="text" class="form-control pull-right"-->
<!--id="start_time">-->
<!--</div>-->
<!--&lt;!&ndash; /.input group &ndash;&gt;-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>年级：</label>-->
<!--<select class="form-control" ng-model="student.grade">-->
<!--<option>初一</option>-->
<!--<option>初二</option>-->
<!--<option>初三</option>-->
<!--<option>高一</option>-->
<!--<option>高二</option>-->
<!--<option>高三</option>-->
<!--</select>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label>家长微信:</label>-->

<!--<div class="input-group ">-->
<!--<div class="input-group-addon">-->
<!--<i class="fa fa-book" aria-hidden="true"></i></div>-->
<!--<input ng-model="student.parentWechat" type="text" class="form-control pull-right"-->
<!--id="parent_wechat">-->
<!--</div>-->
<!--&lt;!&ndash; /.input group &ndash;&gt;-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>家长电话:</label>-->

<!--<div class="input-group ">-->
<!--<div class="input-group-addon">-->
<!--<i class="fa fa-book" aria-hidden="true"></i></div>-->
<!--<input ng-model="student.parentTel" type="text" class="form-control pull-right"-->
<!--id="parent_tel">-->
<!--</div>-->
<!--&lt;!&ndash; /.input group &ndash;&gt;-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>备注信息:</label>-->

<!--<div class="input-group date">-->
<!--<div class="input-group-addon">-->
<!--<i class="fa fa-comment"></i>-->
<!--</div>-->
<!--<input ng-model="student.comment" type="text" class="form-control pull-right" id="comment">-->
<!--</div>-->
<!--&lt;!&ndash; /.input group &ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!-- /.box-body -->
