<section class="content-header">
    <h1>
        作业批改
        <small>Check Homework</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="index.checkhomework"><i class="fa fa-dashboard"></i> 作业批改</a></li>
    </ol>
    <!--<ol class="breadcrumb">-->
    <!--<li><a ui-sref="class1"><i class="fa fa-dashboard"></i> 班级管理</a></li>-->
    <!--</ol>-->
</section>

    <div class="col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">全面检测</h3>

                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <!--<input type="text" class="form-control input-sm" placeholder="Search Mail">-->
                        <!--<span class="glyphicon glyphicon-search form-control-feedback"></span>-->
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>

                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <th></th>

                            <th>作业名称</th>
                            <th>作业类型</th>
                            <th>发布时间</th>
                            <th>班级</th>
                            <th>提交人数</th>
                            <th>操作</th>
                        </tr>

                        <tr ng-repeat=" x in classHomeworks">
                            <!--<td><input type="checkbox"></td>-->
                            <td class="text-center"><input type="checkbox"
                                                           data-ng-model="x.$checked"
                                                           ng-checked="isSelected(x.id)"
                                                           data-ng-changed="checkedChange(x.id,x.$checked)"/></td>
                            <td>{{x.title}}</td>
                            <td>{{x.type}}</td>
                            <td>{{x.createTime}}</td>
                            <td>初二一班</td>
                            <td>{{x.committedNumber}}</td>
                            <!--<td ng-switch={{x.submitted}}>-->
                                <!--<span ng-switch-when=false class="label label-warning">未提交</span>-->
                                <!--<span ng-switch-when=true class="label label-success">已提交</span>-->
                                 <!--<span ng-switch-default class="label label-warning">未提交</span>-->
                            <!--</td>-->
                            <!--<td ng-switch={{x.checked}}>-->
                                <!--<span ng-switch-when=false class="label label-warning">未批改</span>-->
                                <!--<span ng-switch-when=true class="label label-success">已批改</span>-->
                                <!--<span ng-switch-default class="label label-warning">未批改</span>-->
                            <!--</td>-->

                            <td>
                                    <button type="button" class="btn btn-block btn-primary"
                                            ng-click="getSubmitHomeworks(x.assignmentUid)">批改
                                    </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
                <div class="mailbox-controls">


                    <div class="pull-right">

                        <div class="box-tools">
                            <pagination class="pagination-sm" total-items="TotalItems" ng-model="currentPage" items-per-page = "numPerPage" max-size="maxSize"
                                        first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页" boundary-links="true"
                                        ng-change="pageChanged()" num-pages="totalPages" force-ellipses="false"></pagination>
                        </div>

                    </div>
                    <!-- /.pull-right -->
                </div>
            </div>
        </div>
    </div>

<div class="col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">精准训练</h3>

                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <!--<input type="text" class="form-control input-sm" placeholder="Search Mail">-->
                        <!--<span class="glyphicon glyphicon-search form-control-feedback"></span>-->
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>

                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <th></th>

                            <th>学生姓名</th>
                            <th>提交状态</th>
                            <th>批改状态</th>
                            <th>提交时间</th>
                            <th>操作</th>
                        </tr>

                        <tr ng-repeat=" x in targetingHomeworks">
                            <!--<td><input type="checkbox"></td>-->
                            <td class="text-center"><input type="checkbox"
                                                           data-ng-model="x.$checked"
                                                           ng-checked="isSelected(x.id)"
                                                           data-ng-changed="checkedChange(x.id,x.$checked)"/></td>
                            <td>{{x.studentName}}</td>

                            <td ng-switch={{x.submitted}}>
                                <span ng-switch-when=false class="label label-warning">未提交</span>
                                <span ng-switch-when=true class="label label-success">已提交</span>
                                <span ng-switch-default class="label label-warning">未提交</span>
                            </td>
                            <td ng-switch={{x.checked}}>
                                <span ng-switch-when=false class="label label-warning">未批改</span>
                                <span ng-switch-when=true class="label label-success">已批改</span>
                                <span ng-switch-default class="label label-warning">未批改</span>
                            </td>

                            <td>{{x.submitTime}}</td>
                            <td>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-block btn-primary"
                                            ng-click="getQuestions(x.uid)">批改
                                    </button>
                                </div>
                            </td>

                        </tr>
                        </tbody>

                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <div class="box-footer no-padding">
                <div class="mailbox-controls">


                    <div class="pull-right">

                        <div class="box-tools">
                            <pagination class="pagination-sm" total-items="TotalItems" ng-model="currentPage" items-per-page = "numPerPage" max-size="maxSize"
                                        first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页" boundary-links="true"
                                        ng-change="pageChanged()" num-pages="totalPages" force-ellipses="false"></pagination>
                        </div>

                    </div>
                    <!-- /.pull-right -->
                </div>
            </div>

            <!-- /.box-body -->
            <!--<div class="box-footer no-padding">-->
                <!--<div class="mailbox-controls">-->


                    <!--<div class="pull-right">-->

                        <!--<div class="box-tools">-->
                            <!--<pagination class="pagination-sm" total-items="TotalItems" ng-model="currentPage" items-per-page = "numPerPage" max-size="maxSize"-->
                                        <!--first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页" boundary-links="true"-->
                                        <!--ng-change="pageChanged()" num-pages="totalPages" force-ellipses="false"></pagination>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--&lt;!&ndash; /.pull-right &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <!-- /. box -->
    </div>
