<div class="row clearfix">

    <div class="alert alert-block hide" id="warning-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Warning!</h4>Best check yo self, you're not...
    </div>

    <div class="col-md-2">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">班级列表</h3>

                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding" id="container">
                <ul class="nav nav-pills nav-stacked" ng-click="getStudents(class.classUid)"
                    ng-repeat="class in classes"
                    id="{{class.classUid}}">

                    <li><a href=""><i class="fa fa-envelope-o"></i>
                        {{class.title}}</a></li>

                </ul>
            </div>


        </div>

    </div>


    <div class="col-md-10">
        <div class="box box-primary" id="">
            <div class="box-header with-border">
                <h3 class="box-title">班级人员</h3>

                <div class="box-tools pull-right">


                    <div class="has-feedback">
                        <!--<input type="text" class="form-control input-sm" placeholder="Search Mail">-->
                        <!--<span class="glyphicon glyphicon-search form-control-feedback"></span>-->
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>

                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <button type="button" class="btn btn-default btn-sm" ui-sref="addStudent"><i class="fa fa-plus"></i>
                    </button>


                    <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <th class="text-center"><input type="checkbox"
                                                           data-ng-model="allChecked"
                                                           data-ng-change="checkAll(allChecked)"/></th>
                            <th>姓名</th>
                            <th>学号</th>
                            <th>年级</th>
                            <th>家长电话</th>
                            <th>家长微信</th>
                            <th>操作</th>
                            <th>操作</th>
                        </tr>

                        <tr ng-repeat=" x in items">
                            <!--<td><input type="checkbox"></td>-->
                            <td class="text-center"><input type="checkbox"
                                                           data-ng-model="x.$checked"
                                                           ng-checked="isSelected(x.id)"
                                                           data-ng-changed="checkedChange(x.id,x.$checked)"/></td>
                            <td>{{x.name}}</td>
                            <td>{{x.studentNumber}}</td>
                            <td>{{x.grade}}</td>
                            <td>{{x.parentTel}}</td>
                            <td>{{x.parentWechat}}</td>
                            <td>
                                <button type="submit" class="btn btn-sm btn-primary"
                                        ng-click="getDetails(x.studentUid)">详情
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-sm btn-primary"
                                        data-ng-click="deleteStudent(x.studentUid)">删除
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
                <div class="mailbox-controls">


                    <div class="pull-right">
                        <pagination class="pagination-sm" total-items="TotalItems" ng-model="currentPage"
                                    items-per-page="numPerPage" max-size="maxSize"
                                    first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页"
                                    boundary-links="true"
                                    ng-change="pageChanged()" num-pages="totalPages"
                                    force-ellipses="false"></pagination>
                    </div>
                    <!-- /.pull-right -->
                </div>
            </div>
        </div>
        <!-- /. box -->
    </div>
</div>