<div class="row clearfix">

    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">学生反馈</h3>

                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <!--<input type="text" class="form-control input-sm" placeholder="Search Mail">-->
                        <!--<span class="glyphicon glyphicon-search form-control-feedback"></span>-->
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>

                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle" ng-click="retreat()" ><i class="fa fa-times"></i>
                    </button>
                    <div class="btn-group">

                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div>
                    <!-- /.btn-group -->

                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <th></th>

                            <th>姓名</th>
                            <th>学号</th>
                            <th>课程名称</th>
                            <th>学生反馈</th>
                            <th>备注</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>过岚清</td>
                            <td>2015302580040</td>
                            <td>算法导论</td>
                            <td><div class="col-md-4"><button type="button" class="btn btn-block btn-primary">详情</button></div></td>
                            <td>无</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>曹真</td>
                            <td>2015302580272</td>
                            <td>算法导论</td>
                            <td><div class="col-md-4"><button type="button" class="btn btn-block btn-primary">详情</button></div></td>
                            <td>无</td>

                        </tr>


                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->



                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
            </div>
        </div>
        <!-- /. box -->
    </div>
</div>