<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-block btn-primary" ui-sref="addClass">新增班级</button>

        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">分类</h3>

                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-click="findAll()"><a href="#"><i class="fa fa-inbox"></i> 全部班级
                        <span class="label label-primary pull-right"></span></a></li>
                    <li ng-click="findAllByStatus(1)"><a href="#"><i class="fa fa-envelope-o"></i> 正在上课</a></li>
                    <li ng-click="findAllByStatus(2)"><a href="#"><i class="fa fa-floppy-o"></i> 已结课</a></li>
                    <li ng-click="findAllByStatus(0)"><a href="#"><i class="fa fa-filter"></i> 未开始 <span
                            class="label label-warning pull-right"></span></a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <!-- /.col -->
    <div class="col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">班级列表</h3>

                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>

                </div>
            </div>
            <div class="box-body no-padding" id="container">
                <ul class="nav nav-pills nav-stacked" ng-click="getHomeworkList(class.classUid)" ng-repeat="hw in hwList"
                    id="{{class.classUid}}">

                    <li><a href=""><i class="fa fa-envelope-o"></i>
                        {{class.title}}</a></li>

                </ul>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm" ng-click="delete()"><i
                                class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>

                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm" ui-sref="record"><i class="fa fa-list"></i>
                    </button>


                    <!-- /.pull-right 状态码  -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <th class="text-center"><input type="checkbox"
                                                           data-ng-model="allChecked"
                                                           data-ng-change="checkAll(allChecked)"/></th>
                            <th>班级编号</th>
                            <th>班级名称</th>
                            <th>班级状态</th>
                            <th>操作</th>
                            <th>操作</th>
                            <th>备注</th>
                        </tr>
                        <!--status状态码 0:未开始 1:正在上课 2:已结课-->
                        <tr ng-repeat=" x in classes">
                            <!--<td><input type="checkbox"></td>-->
                            <td class="text-center"><input type="checkbox"
                                                           data-ng-changed="checkedChange(x.id,x.$checked)"/></td>
                            <td>{{$index+1}}</td>
                            <td>{{x.title}}</td>

                            <td ng-switch={{x.status}}>
                                <span ng-switch-when=0 class="label label-success">未开始</span>
                                <span ng-switch-when=1 class="label label-primary">正在上课</span>
                                <span ng-switch-when=2 class="label label-warning">已结课</span>
                                <span ng-switch-default class="label label-warning">未开始</span>
                            </td>


                            <!--<td><div class="col-md-6"><button type="button" class="btn btn-block btn-primary" ui-sref="detailClass">详情</button></div></td>-->
                            <!--<td><div class="col-md-6"><button type="button" class="btn btn-block btn-primary" ui-sref="detailClass">详情</button></div></td>-->
                            <td>
                                <button type="button" class="btn btn-sm btn-primary  " data-ng-click="viewDetail(x.classUid)">详情</button>

                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary " data-ng-click="deleteClass(x.classUid)">
                                    删除
                                </button>


                            </td>
                            <td>{{x.comment}}</td>
                        </tr>


                        </tbody>
                    </table>

                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>


            <div class="box-footer no-padding">
                <div class="mailbox-controls">


                    <div class="pull-right">

                        <div class="box-tools">
                            <pagination class="pagination-sm" total-items="TotalItems" ng-model="currentPage" items-per-page = "numPerPage" max-size="maxSize"
                                        first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页" boundary-links="true"
                                        ng-change="pageChanged()" num-pages="totalPages" force-ellipses="false"></pagination>
                         </div>

                    </div>
                    <!-- /.pull-right -->
                </div>
            </div>
        </div>
        <!-- /. box -->
    </div>
    <!-- /.col -->
</div>