<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-block btn-primary" ui-sref="index">返回</button>



    </div>
    <!-- /.col -->
    <div class="col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">操作记录</h3>

                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm" ng-click="delete()"><i
                                class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="addRecord()"><i class="fa fa-plus"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>

                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right 状态码  -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <th class="text-center"><input type="checkbox"
                                                           data-ng-model="allChecked"
                                                           data-ng-change="checkAll(allChecked)"/></th>
                            <th>表名</th>
                            <th>最后操作时间</th>
                            <th>操作</th>

                        </tr>
                        <!--status状态码 0:未开始 1:正在上课 2:已结课-->
                        <tr ng-repeat=" x in rows">
                            <!--<td><input type="checkbox"></td>-->
                            <td class="text-center"><input type="checkbox"
                                                           data-ng-changed="checkedChange(x.id,x.$checked)"/></td>
                            <td>{{x.tablename}}</td>
                            <td>{{x.modifytime}}</td>



                            <!--<td><div class="col-md-6"><button type="button" class="btn btn-block btn-primary" ui-sref="detailClass">详情</button></div></td>-->
                            <!--<td><div class="col-md-6"><button type="button" class="btn btn-block btn-primary" ui-sref="detailClass">详情</button></div></td>-->
                            <td>
                                <button type="button" class="btn btn-sm btn-primary  " >详情</button>

                            </td>

                        </tr>


                        </tbody>
                    </table>

                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>

            <!--<uib-pagination total-items="TotalItems" ng-model="currentPage" items-per-page="numPerPage"-->
            <!--max-size="maxSize" class="pagination" first-text="首页" previous-text="上一页" next-text="下一页"-->
            <!--last-text="末页" boundary-links="true" ng-change="pageChanged()"-->
            <!--force-ellipses="false"></uib-pagination>-->
            <!-- /.box-body -->
            <div class="box-footer no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <!--<button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>-->
                    <!--</button>-->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="a()"><i class="fa fa-plus"></i></button>

                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">

                        <div class="box-tools">
                            <ul class="pagination" style="margin: 0px;">
                                <li ng-class="{true:'disabled'}[p_current==1]"><a href="javascript:void(0);"
                                                                                  ng-click="p_index()">首页</a></li>
                                <li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]"><a
                                        href="javascript:void(0);" ng-click="load_page(page)">{{ page }}</a></li>
                                <li ng-class="{true:'disabled'}[p_current==p_all_page]"><a href="javascript:void(0);"
                                                                                           ng-click="p_last()">尾页</a>
                                </li>
                            </ul>
                            <span style="vertical-align: 12px;">  共：{{count}} 条</span>
                        </div>

                    </div>
                    <!-- /.pull-right -->
                </div>
            </div>
        </div>
        <!-- /. box -->
    </div>
    <!-- /.col -->
</div>